/* This is a CSS Module; see https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */

h1 {
  color: var(--white);
}

.nav {
  overflow: hidden;
  padding-bottom: calc(720 / 1920 * 100%) !important;
  position: relative;
  width: 100vw !important;
  margin-bottom: var(--spacing-xl);
}

.nav video {
  height: 100%;
  width: 100vw !important;
  margin: 0 auto;
  position: absolute;
  transform: scale(1.33);
  z-index: -1;
}

.main {
  background-color: var(--card);
  position: relative;
  width: 100vw;
}

.main .button {
  text-align: left;
}

.actions>button {
  text-align: center;
}

.content {
  align-items: left;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  justify-content: space-between;
}

.content>* {
  flex: 1 1 auto;
}

.social {
  display: flex;
  gap: var(--spacing-s);
}

.social svg {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
  vertical-align: middle;
}

.social svg path {
  fill: var(--accent);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
  position: relative;
}

.actions > * {
  flex: 1 1 auto;
}

.actions > h1 {
  flex: 4 1 auto;
}

.actions .social {
  margin-left: auto;
}

.button {
  font-size: var(--spacing-l);
  font-weight: var(--fw-black);
}