/* This is a CSS Module; see https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */
.nav {
  overflow: hidden;
  /* padding: var(--spacing-xs); */
  padding-bottom: calc(720 / 1920 * 100%) !important;
  position: relative;
  width: 100vw !important;
  margin-bottom: var(--spacing-xl);
}

@media (min-width: 600px) {
  .nav {
    /* padding: var(--spacing-l); */
  }
}

.nav video {
  height: 100%;
  width: 100vw !important;
  margin: 0 auto;
  position: absolute;
  transform: scale(1.33);
  z-index: -1;
}

.main {
  align-items: center;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(246px, 1fr) auto;
  gap: var(--spacing-s);
  background-color: var(--card);
  position: relative;
  width: 100vw;
}

.main > :first-child {
  text-align: left;
  padding: var(--spacing-m)
}

.main > :last-child {
  text-align: right;
  word-break: break-word;
}

.social {
  display: flex;
  gap: var(--spacing-m);
  margin: 0 auto;
}

.social svg {
  height: var(--spacing-m);
  width: var(--spacing-m);
  vertical-align: middle;
}
.social svg path {
  fill: var(--accent);
}

.button {
  font-size: var(--spacing-l);
  font-weight: var(--fw-black);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  position: relative;
  padding: var(--spacing-m);
}

.actions > button {
  text-align: center;
}